<ion-tabs>
  <ion-tab-bar>
    <ion-tab-button tab="home">
      <mat-icon>home</mat-icon>
      Inicio
    </ion-tab-button>
    <ion-tab-button tab="routes">
      <mat-icon>route</mat-icon>
      Rutas
    </ion-tab-button>
    <ion-tab-button tab="map" class="map-tab">
      <mat-icon>place</mat-icon>
      Mapa
    </ion-tab-button>
    <ion-tab-button tab="favorites">
      <mat-icon>favorite</mat-icon>
      Favoritos
    </ion-tab-button>
    <ion-tab-button tab="train">
      <mat-icon>train</mat-icon>
      Tren Maya
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>