<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <h2>Mis Favoritos</h2>
  <div id="favorites-container" *ngIf="favorites.length > 0; else noFavs">
    <app-poi-card 
    *ngFor="let poi of favorites"
    [id]="poi.id"
    [title]="poi.name"
    [info]="poi.description"
    [image]="poi.image"
    [video]="poi.video"
    (cardClick)="openModal(poi)"
    [isFavoritePage]="false"
    (remove)="onRemove($event)"
    >
    </app-poi-card>

    
  </div>

  <ng-template #noFavs>
    <p>No has agregado favoritos todavía.</p>
  </ng-template>
</ion-content>
