@font-face {
    font-family: 'Tuna';
    src: url('../../../assets/fonts/Ligature\ Inc\ -\ Tuna-MediumItalic.otf');
    font-display: swap;
}

ion-toolbar {
    --background: linear-gradient(#062E36, #0D4550);
    --color: #fff;

    ion-title {
        font-family: 'Tuna';
        font-size: xx-large;
    }

    height: 9vh;
    display: flex;
}

ion-button {
    --transition: 0.9s;

    mat-icon {
        font-size: 3em;
        width: 10vw;
        max-width: 10vw;
        height: auto;
    }
}